.container {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form {
  width: 90%;
  max-width: 600px;
  padding: 1rem;
  border: 1px solid #000;
  background: $card;
  background-position: center;
  display: flex;
  flex-direction: column;
  label {
    font-weight: 500;
  }
}

.form_box1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.box1_box {
  display: flex;
  flex-direction: column;
  div {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
  }
  label {
    margin-right: 0.5rem;
  }
  input {
    width: 30%;
    height: 1.5rem;
  }
  select {
    height: 1.5rem;
  }
}

.form_box2 {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
  label {
    margin: auto 5px;
    cursor: pointer;
  }
  label:hover {
    color: $main;
    text-shadow: 0 0 5px $main;
  }
  .active {
    color: $main;
    text-shadow: 0 0 5px $main;
  }
}

.form_box3 {
  display: flex;
  width: 100%;
  justify-content: center;
  button {
    width: 100px;
    height: 2.4rem;
    background-color: #000;
    font-weight: 600;
    color: $main;
    border: 2px solid $main;
    cursor: pointer;
    transition-duration: 0.5s;
    font-family: "Cinzel", serif;
  }
  button:hover {
    background-color: $main;
    color: #000;
    border-color: #000;
  }
}

.display {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto;
  justify-content: center;
}

.summary_container {
  display: flex;
  width: 100%;
  justify-content: center;
  div {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: $card;
    background-position: center;
    border: 1px solid #000;
    p {
      margin: 0.25rem 0;
      color: $main;
      font-weight: 500;
      span {
        color: #000;
      }
    }
  }
}

.next_btn_left,
.next_btn_right {
  position: fixed;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: calc(100vh - 50% - 40px);
  z-index: 100;
  cursor: pointer;
  div {
    min-height: 6px;
    min-width: 100%;
    background: #222;
    position: relative;
  }
}

.next_btn_left {
  left: 0.6rem;
  .line1 {
    transform: rotate(-65deg);
    transform-origin: left;
    top: 4px;
  }
  .line2 {
    transform: rotate(65deg);
    transform-origin: left;
    bottom: 4px;
  }
}
.next_btn_right {
  right: 0.6rem;
  .line1 {
    transform: rotate(65deg);
    transform-origin: right;
    top: 4px;
  }
  .line2 {
    transform: rotate(-65deg);
    transform-origin: right;
    bottom: 4px;
  }
}

.next_btn_left:hover,
.next_btn_right:hover {
  div {
    background: $main;
  }
}

@media screen and (min-width: 415px) {
  .box1_box {
    div {
      flex-direction: row;
    }
  }
}
