.container {
  width: 100vw;
  min-height: calc(100vh - 90px);
  background-color: $light;
}

.body {
  margin: 90px auto 0;
  width: 95%;
}

@media screen and (min-width: 586px) {
  .body {
    width: 85%;
  }
}

@media screen and (min-width: 867px) {
  .body {
    width: 75%;
  }
}
