.container {
  width: 100vw;
  min-height: calc(100vh - 70px);
  background: url(/scroll-bg.jpg);
  background-position: center;
  background-size: cover;
}

.body {
  margin: 70px auto 0;
  width: 100%;
  max-width: 1400px;
  padding: 1rem;
}

