.container {
  width: 45%;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background: url(/scroll-bg.jpg);
  background-position: center;
  padding: 0.5rem;
  justify-content: space-between;
  h3 {
    margin: 3px 0;
    color: $main;
    font-size: 24px;
    text-shadow: 1px 1px 40px #1116, 0 0 2px black;
  }
  h5 {
    margin: 3px 0;
    font-style: italic;
    font-size: 12px;
  }
}

@media screen and (min-width: 586px) {
  .container {
    width: 31%;
  }
}

@media screen and (min-width: 860px) {
  .container {
    width: 22%;
  }
}
