.container {
  
  padding: 0.5rem;
  height: 100%;
}

.card {
  display: flex;
  position: relative;
  width: 100%;
  border: 8px ridge $cardColor;
    box-shadow: 0px 4px 10px 2px #0009;
  margin: 1rem auto 3rem;
  flex-direction: column;
  background-color: $card;
  padding: 1rem;
  h2,
  h3 {
    color: $cardColor;
    margin: 0 0 5px;
    font-family: "Cinzel", serif;
  }
  h3 {
    margin-top: 5px;
  }
  p {
    font-weight: 400;
    color: $cardColor;
    margin: 0 0 4px;
    font-size: 14px;
  }
  span {
    font-weight: 650;
    color: $cardColor;
  }
  .description {
    color: #000;
    font-style: italic;
  }
  .action {
    color: #000;
    span {
      color: #000;
      font-style: italic;
    }
  }
}

.red_bar {
  min-height: 6px;
  padding: 1px 0;
  width: 100%;
  background: linear-gradient(
    90deg,
    $cardColor 0%,
    $cardColor 35%,
    transparent 100%
  );
  margin: 5px 0;
  transform: scaleY(50%);
}

.red_line {
  width: 100%;
  min-height: 2px;
  background: $cardColor;
  margin: 5px 0;
}

.attribute_container {
  display: flex;
  justify-content: space-around;
}

.attribute_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    text-align: center;
  }
}

.clear_selected {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-height: 1.75rem;
  min-width: 1.75rem;
  right: 1rem;
  top: 1rem;
  z-index: 100;
  div {
    min-height: 2px;
    width: 70%;
    background-color: #000;
  }
  .bar1 {
    transform: rotate(45deg);
    position: absolute;
  }
  .bar2 {
    transform: rotate(-45deg);
    position: absolute;
  }
}

.clear_selected:hover {
  div {
    background-color: $main;
  }
}

@media screen and (min-width: 600px) {

  .attribute_container {
    width: 80%;
  }
}

@media screen and (min-width: 800px) {

  .attribute_container {
    width: 60%;
  }

  .card {
    padding: 1.5rem;
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
      margin-top: 10px;
    }
    p {
      font-size: 18px;
    }
    .clear_selected {
      div {
        width: 100%;
        height: 3px;
      }
    }
  }
}
