@mixin fineBorder {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  gap: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: $card;
  background-position: center;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  border: 8px ridge $cardColor;
  box-shadow: 0px 4px 10px 2px #0009;
  
}

.input_wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.search_bar {
  width: 100%;
  margin: 0.5rem auto;

  padding-left: 0.5rem;
  @include fineBorder();
}

.clear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50%;
  width: 2rem;
  right: 3px;
  top: 25%;
  div {
    height: 2px;
    width: 70%;
    background-color: $light;
  }
}
.bar1 {
  transform: rotate(45deg);
  position: absolute;
}
.bar2 {
  transform: rotate(-45deg);
  position: absolute;
}

.filters_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0.5rem;
  width: 100%;
  color: $dark;
  text-shadow: 0px 0px 4px $main;
  gap: 1rem;
  font-weight: 600;
  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    .CR_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      .clear {
        right: -3px;
      }
    }
    input {
      width: 100%;
      @include fineBorder();
    }
    select {
      @include fineBorder();
    }
    label {
      margin-bottom: 5px;
      font-weight: 500;
    }
  }
}

.display {
  width: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.btn_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  p {
    font-size: 18px;
    font-weight: 700;
  }
}

.btn {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto 0;
  cursor: pointer;
  img {
    opacity: .5;
    transition: opacity 250ms;
  }
}

.btn:hover {
  img {
    opacity: 1;
  }
}

@mixin slash {
  width: 70%;
  background-color: #000;
  height: 4px;
  position: absolute;
  top: 20px;
  bottom: 20px;
}

.slash1,
.slash2 {
  @include slash();
}

.btn:first-child {
  .slash1 {
    left: 0;
    transform: rotate(-30deg);
    transform-origin: left;
  }
  .slash2 {
    left: 0;
    transform: rotate(30deg);
    transform-origin: left;
    top: 19px;
  }
}

.btn:last-child {
  .slash1 {
    right: 0;

    transform: rotate(30deg);
    transform-origin: right;
  }
  .slash2 {
    right: 0;
    transform: rotate(-30deg);
    transform-origin: right;
    top: 19px;
  }
}

.modalContainer {
  position: fixed;
  inset: 0;
  top: 70px;
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  background-color: #3332;
  backdrop-filter: blur(5px);
}

.modalInner {
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.next_btn_left,
.next_btn_right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
  cursor: pointer;
  img {
      height: 50px;
      width: 50px;
      filter: drop-shadow(0px 4px 10px #0003);
      opacity: .5;
      transition: opacity 250ms;
    }
}

.next_btn_left,.next_btn_right img:hover {
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .modalContainer {
    grid-template-columns: 1fr;
  }

  .next_btn_left,
  .next_btn_right {
    position: absolute;
    top: 0;

    img {
      width: 30px;
      height: 30px;
    }
  }

  .next_btn_left {
    left: 1rem;
  }

  .next_btn_right {
    right: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .display {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 764px) {
  .display {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .display {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

