@mixin fineBorder {
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: $card;
  background-position: center;
  padding: 1rem 0.5rem;
  width: 300px;
  border: 5px groove #555;
}

.input_wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.search_bar {
  width: 100%;
  margin: 0.5rem auto;
  height: 2.2rem;
  padding: 5px;
  padding-left: 0.5rem;
  @include fineBorder();
}

.clear {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50%;
  width: 2rem;
  right: 3px;
  top: 25%;
  div {
    height: 2px;
    width: 70%;
    background-color: $light;
  }
}
.bar1 {
  transform: rotate(45deg);
  position: absolute;
}
.bar2 {
  transform: rotate(-45deg);
  position: absolute;
}

.filters_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 0.5rem;
  width: 65%;
  color: $main;

  font-weight: 600;
  div {
    width: 40%;
    display: flex;
    flex-direction: column;
    .CR_wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      .clear {
        right: -3px;
      }
    }
    input {
      height: 2rem;
      padding-left: 0.5rem;
      @include fineBorder();
    }
    select {
      height: 2rem;
      @include fineBorder();
    }
    label {
      margin-bottom: 5px;
      font-weight: 500;
    }
  }
}

.display {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto;
  justify-content: center;
}

.btn_container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  p {
    font-size: 18px;
    font-weight: 700;
  }
}

.btn {
  position: relative;
  height: 40px;
  width: 40px;
  margin: auto 0;
  cursor: pointer;
}

.btn:hover {
  div {
    background-color: $main;
  }
}

@mixin slash {
  width: 70%;
  background-color: #000;
  height: 4px;
  position: absolute;
  top: 20px;
  bottom: 20px;
}

.slash1,
.slash2 {
  @include slash();
}

.btn:first-child {
  .slash1 {
    left: 0;
    transform: rotate(-30deg);
    transform-origin: left;
  }
  .slash2 {
    left: 0;
    transform: rotate(30deg);
    transform-origin: left;
    top: 19px;
  }
}

.btn:last-child {
  .slash1 {
    right: 0;

    transform: rotate(30deg);
    transform-origin: right;
  }
  .slash2 {
    right: 0;
    transform: rotate(-30deg);
    transform-origin: right;
    top: 19px;
  }
}

.next_btn_left,
.next_btn_right {
  position: fixed;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: calc(100vh - 50% - 40px);
  z-index: 100;
  cursor: pointer;
  div {
    min-height: 6px;
    min-width: 100%;
    background: #222;
    position: relative;
  }
}

.next_btn_left {
  left: 0.6rem;
  .line1 {
    transform: rotate(-65deg);
    transform-origin: left;
    top: 4px;
  }
  .line2 {
    transform: rotate(65deg);
    transform-origin: left;
    bottom: 4px;
  }
}
.next_btn_right {
  right: 0.6rem;
  .line1 {
    transform: rotate(65deg);
    transform-origin: right;
    top: 4px;
  }
  .line2 {
    transform: rotate(-65deg);
    transform-origin: right;
    bottom: 4px;
  }
}

.next_btn_left:hover,
.next_btn_right:hover {
  div {
    background-color: $main;
  }
}

@media screen and (min-width: 576px) {
  .wrapper {
    width: 400px;
  }
}

@media screen and (min-width: 800px) {
  .next_btn_left {
    left: 12.5%;
  }
  .next_btn_right {
    right: 12.5%;
  }
}
